.contact {
  padding: 64px 16px 84px;
  @media (min-width: $tablet) {
    padding-top: 80px;
    padding-bottom: 176px;
  }
  background: $contactBackground;
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: $paragraphFont;
    text-align: center;
    margin-bottom: 56px;
    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__header {
    color: $headerFont;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 0 0;
    text-align: center;
    margin-bottom: 32px;
    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__mail {
    width: 278px;
    height: 48px;
    color: #ffffff;
    background: #4da8ff;
    padding: 4px 24px;
    border-radius: 64px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
  }
  &__links {
    text-align: center;
  }
}
.socials {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  &__link {
    width: 48px;
    height: 48px;
    display: block;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
    margin-bottom: 64px;
  }
}
