.projects {
  padding: 64px 16px 84px;
  &__header {
    margin: 0 0 32px;
    color: $headerFont;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }
  &__description {
    color: $paragraphFont;
    text-align: center;
    margin: 0 0 46px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
  }
}
