$headerFont: #234361;

$paragraphFont:  #425a70;
$projectGray: #212528;
$projectFontColor: #A3A3A3;
$projectWindow: #1E1E1E;
$projectWindowCircle: #464A4D;
$projectFontDark: #808082;
$linkColor: #14B5D0;
$contactBackground: #DBEAF7;